.radio {
  border: solid 1px #00b3bc;
  padding: 10px;
  border-radius: 10px;
  margin-left: 0px;
  margin-bottom: 15px;
}
/* .setor {
  margin-right: 12px;
}
.kurir {
  margin-right: 12px;
} */
.btn {
  border-radius: 50px;
  background-color: #00b43c;
  padding: 8px 22px;
}
.btn:hover {
  background-color: #036451;
  border: 1px solid #00b43c;
}
/* body {
  background-image: url(img/daftar1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 350px;
  background-position-x: -300px;
} */
.kanan {
  margin-top: 40px;
}
@media (min-width: 992px) {
  /* body {
    background-image: url(img/daftar1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
    background-position-x: 0px;
  } */
  .kanan {
    margin-top: 70px;
  }
}
