body {
  background-color: tomato;
  background-size: cover;
  background-position: center;
}

.counter-section {
  margin: 10% auto;
  color: white;
}
.icon-box {
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}

.icon-box .fa {
  font-size: 40px;
  margin: 25px auto;
  color: yellow;
  transform: rotate(-45deg);
}
.counter-box p {
  font-size: 20px;
}

.counter-box .counter {
  font-size: 80px;
}
