.info-panel {
  background-color: #00b3bc;
  border-radius: 35px;
  padding: 0px 10px;
  /* position: relative; */
  display: flex;
  align-items: center;
}
.testimoni {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.testimoni .keterangan {
  color: white;
}
.counter-up::before {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.counter-up .content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: start;
}
.counter-up .content .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0px 10px;
}

.content .box .icon {
  font-size: 20px;
  text-align: center;
  color: #ffff;
}
.content .box .counter {
  font-size: 50px;
  font-weight: 500;
  color: #f2f2f2;
  font-family: sans-serif;
}
.content .box .text {
  font-weight: 400;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1036px) {
  .counter-up {
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box {
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    padding: 20px;
  }
  .counter-up {
    padding: 30px 20px 0 20px;
  }
}
/* desktop */

@media (min-width: 992px) {
  .info-panel {
    margin-top: -150px;
  }
}
